@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Abhishek Verma’s Portfolio!</h1>
    <p>
        Hi there! I’m Abhishek Verma, a dedicated Full Stack Developer specializing in .NET technologies. I love crafting seamless digital experiences by merging front-end innovation with back-end efficiency.
        Here, you’ll find a showcase of my work, from dynamic web applications to powerful enterprise solutions. Whether it’s scalable architecture or intuitive user interfaces, I thrive on bringing ideas to life through clean, efficient code.
        Feel free to explore, connect, and let’s collaborate on building something amazing!
    </p>

    <img src="" />

    <a asp-controller="Projects" asp-action="Index" class="btn">View Projects</a>
    <a asp-controller="Contact" asp-action="Index" class="btn">Contact Me</a>
</div>
